<template>
  <div>
    <img src="../assets/logo_plaza_vea.png" class="logo_plaza_vea">
    
    <h1>&lt;-  {{title}}</h1>
    <h2>{{title}}</h2>
    <div class="img_producto">
      <img :src="image" alt="">
    </div>
    <div class="user">
      
        <img src="../assets/perfil.png" alt="">
        <p>Indra pinta</p>
      
    </div>

    <div class="description">
      <p class="des">{{description}}</p>
      <p class="fecha">Publicado a las {{ new Date(createdAt).toLocaleDateString("en-US") }}</p>
      <div class="botones">
        <button @click="proximamente" class="btn-res">Reservar</button>
        <button @click="proximamente" class="btn-fav">{{ fav }} ❤</button>
      </div>
    </div>
    
    <div class="comentarios">
      <h2>Comentarios</h2>

      
      <div class="comentario" v-for="comentario of comments">
        <div class="img_comentario">
          <img :src="comentario.user.avatar" alt="">
        </div>
        <div class="descripcion_comentario">
          <div class="name_user_comentario">{{comentario.user.firstName + " " + comentario.user.lastName}}</div>
          <div class="description_user_comentario">Muchas gracias Indra, realmente me ayudaste con la compra de este producto. Estoy muy feliz con mi nuevo tele en mi casa</div>
        </div>
      </div>

      <div class="comentario formulario_comentario">
        <input type="text" class="input_comentario" placeholder="Escribe un comentario" @keyup.enter="comentar" v-model="inputComentario">
      </div>


    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: "DescripcionView",
  data() {
    return {
      title: "",
      description: '',
      image: '',
      createdAt: '',
      comments: [],
      fav: 0,
      inputComentario: ""
    };
  },
  methods: {
    proximamente() {
      alert("Proximamente")
    },
    comentar() {
      if(this.inputComentario != "") {
        axios.post('https://61c35faa9cfb8f0017a3eb2e.mockapi.io/api/v1/posts/1/comments/', { comment: this.inputComentario, nombres: localStorage.getItem('nombre'), apellidos: localStorage.getItem('apellido') })
        .then(resp => { alert("Comentario enviado 😁👍") })
        .catch(error => { alert("Ocurrio un error al enviar comentario 😒") })
        this.inputComentario = ""
      }else {
        alert("No hay un comentario a enviar 😒")
      }
    }
  },
  mounted() {
    console.log("id", this.$route.params.id)
    const idComment = this.$route.params.id;
    axios.get('https://61c35faa9cfb8f0017a3eb2e.mockapi.io/api/v1/posts/' + idComment)
    .then(resp => {
      console.log(resp.data)
      this.title = resp.data.title
      this.description = resp.data.description
      this.image = resp.data.image
      this.createdAt = resp.data.createdAt
      
      axios.get('https://61c35faa9cfb8f0017a3eb2e.mockapi.io/api/v1/posts/' + idComment + '/likes/')
      .then(resp => {
        this.fav = resp.data.length
      })
      .catch(error => {
        console.error("OCurrio un error")
      })
      axios.get('https://61c35faa9cfb8f0017a3eb2e.mockapi.io/api/v1/posts/' + idComment + '/comments/')
      .then(resp => {
        console.log(resp)
        this.comments = resp.data
      })
      .catch(error => {
        console.error("Ocurrio un error dentro del sistema")
      })
    })
    .catch(error => {
      console.error('Ocurrio un error dentro de programa')
    })
  }
};
</script>
<style scoped>
h2 {
  display: none;
}
.input_comentario {
  padding: 15px 30px;
  width: 100%;
  border-radius: 40px;
  border: none;
}
.comentario {
  display: flex;
  color: #434343;
  margin-bottom: 50px;
}
.comentario img {
  width: 80px;
}
.comentario .name_user_comentario {
  padding-bottom: 15px;
  font-weight: 600;
}

h1 {
  color: #FC2016;
  font-size: 30px;
  font-weight: 600;
  margin: 60px;
}
h2 {
  color: #434343;
  padding-bottom: 20px;
}
.img_producto {
  width: 100%;
  padding-bottom: 50px;
}
.img_producto img {
  width: 100%;
}
.user {
  display: flex;
  align-items: center;
}
.user img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.user p {
  font-size: 24px;
  font-weight: 600;
}
.des {
  color: #434343;
  padding: 30px 0;
}
.fecha {
  padding-bottom: 30px;
}

.botones {
  padding-bottom: 60px;
}
.btn-res {
  background: #FC2016;
  font-weight: 600;
  color: white;
  width: 245px;
  height: 45px;
  border: none;
  border-radius: 40px;
  margin-right: 15px;
}
.btn-fav {
  background: #eaeaea;
  border: none;
  width: 90px;
  height: 45px;
  border-radius: 45px;
}
.img_comentario img {
  border-radius: 150px;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 320px) {
  .formulario_comentario {
    padding-bottom: 50px;
  }
  h1 {
   display: none;
  }
  p {
   text-align: left;
  }
  .img_perfil {
   width: 100px;
   height: 100px;
  }
  .logo_plaza_vea {
    display: block;
    margin: auto;
    padding-bottom: 30px;
  }
  h2 {
    display: block;
    font-size: 16px;
  }
  .img_producto {
    padding-bottom: 10px;
  }
  .user img {
    width: 60px;
    height: 60px;
  }
  .user p {
    font-size: 15px;
  }
  .des {
    padding: 10px;
    font-size: 14px;
  }
  .fecha {
    font-size: 12px;
    padding: 10px;
  }
  .botones {
   width: 100%;
   background: #fcfcfc;
   display: flex;
   justify-content: center;
   position: fixed;
   bottom: 0;
   left: 0;
   padding: 0;
   padding: 20px;
   border-radius: 40px 40px 0 0;
   
  }
  .btn-res {
   width: 170px;
  }
  .description_user_comentario {
    font-size: 12px;
  }
  .comentario {
    margin-bottom: 0;
    margin-bottom: 15px;
  }
 }
</style>
