<template>
  <div>
    <img src="../assets/logo_plaza_vea.png" class="logo_plaza_vea" alt>
    <h1>Registrate para ingresar</h1>
    <p>Foto de perfil</p>
    <div class="img_perfil"></div>
    <div class="form">
      <div class="input_group">
        <label for="">Nombres</label>
        <input type="text" v-model="nombre"/>
      </div>
      <div class="input_group">
        <label for="">Apellidos</label>
        <input type="text" v-model="apellido"/>
      </div>
      <div class="input_group">
          <button @click="goProductos">Ingresar</button>
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
  name: "HomeView",
  data() {
    return {
      nombre: '',
      apellido: ''
    };
  },
  methods: {
    goProductos() {
      if(this.nombre != "" && this.apellido != "") {
        localStorage.setItem('nombre', this.nombre)
        localStorage.setItem('apellido', this.apellido)
        this.$router.push('/productos')
      }else {
        alert("Rellena nombre y apellidos")
      }

    }
  }
};
</script>

<style scoped>

.logo_plaza_vea {
  display: none;
}
.form {
  width: 300px;
  margin: auto;
}
.img_perfil {
  width: 160px;
  height: 160px;
  background: grey;
  border-radius: 100px;
  margin: 60px auto;
}
h1 {
  color: #FC2016;
  font-size: 30px;
  font-weight: 600;
}
p {
  color: #383838;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.input_group {
  width: 100%;
  padding-bottom: 15px;
}
label {
  font-size: 16px;
  display: block;
}
input {
  background: #eaeaea;
  border: none;
  width: 100%;
  padding: 10px 20px;
}
button {
  background: #FFE81E;
  border: none;
  color: #FC2016;
  width: 100%;
  border-radius: 40px;
  padding: 10px 0;
}

@media screen and (max-width: 320px) {
 h1 {
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
 }
 p {
  text-align: left;
 }
 .img_perfil {
  width: 100px;
  height: 100px;
 }
 .logo_plaza_vea {
   display: block;
   margin: auto;
   padding-bottom: 30px;
 }
}
</style>

