<template>
  <div>
    <img src="../assets/logo_plaza_vea.png" class="logo_plaza_vea">
    <h1>Todas las promociones</h1>
    <p>Utimas promociones</p>
    <router-link :to="`/descripcion/${item.id}`" v-for="item of all">
      <div class="lista">
        <div class="item-lista">
          <div class="item-lista-img">
            <img :src="item.image" alt="">
          </div>
          <div class="item-lista-descripcion">
            <div class="title">{{ item.title }}</div>
            <p class="descripcion">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </router-link>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: "ProductosView",
  data() {
    return {
      all: []
    };
  },
  mounted() {
    axios.get('https://61c35faa9cfb8f0017a3eb2e.mockapi.io/api/v1/posts/?page=1&limit=10')
    .then(res => {
      console.log("respuesta", res)
      this.all = res.data.items
    })
    .catch(error => {
      console.error("Ocurrio un error", error)
    })
  }
};
</script>

<style scoped>

h1 {
  color: #FC2016;
  font-size: 30px;
  font-weight: 600;
}
p {
  color: #383838;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}
.title {
  font-weight: 600;
  font-size: 18px;
}
.descripcion {
  font-size: 14px;
}
.item-lista {
  display: flex;
  gap: 20px;
}

.item-lista .item-lista-img {
  width: 100%;
}
.item-lista .item-lista-img img {
  width: 100%;
  border-radius: 20px;
}
.item-lista-descripcion {

}

@media screen and (max-width: 320px) {
  h1 {
   font-size: 14px;
   text-align: center;
   padding-bottom: 30px;
   text-transform: uppercase;
  }
  h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background: red;
    margin: auto;
    
  }
  p {
   text-align: left;
  }
  .img_perfil {
   width: 100px;
   height: 100px;
  }
  .logo_plaza_vea {
    display: block;
    margin: auto;
    padding-bottom: 30px;
  }
  .item-lista {
    flex-direction: column;
  }
 }
</style>
