<template>
  <div id="app">
    <div class="container">
      <div class="item">
        <img src="@/assets/imagen.png" alt="" />
      </div>
      <div class="item">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Open+Sans&family=Poppins:wght@400;600&display=swap");



* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item:nth-child(1) {
  width: 100%;
  max-height: 100vh;
}
.item:nth-child(2) {
  padding: 100px 80px;
}
.item:nth-child(1) img {
  width: 100%;
}
@media screen and (max-width: 320px) {
  .container {
    grid-template-columns: 1fr;
  }
  .item:nth-child(1) {
    display: none;
  }
  .item:nth-child(2) {
    padding: 30px 40px;
  }
}
</style>
